header {
    margin-top: 25px;
}

ff-asn {
    margin-right: 5px;
    border: 1px solid #b9b9b9;
    padding: .625rem .625rem 0;
    transition: opacity 600ms;
}

ff-asn-group {
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    transition: opacity 400ms;
    display: block;
    margin-bottom: .625rem;
}

ff-asn [data-container=detailedLinks] {
    padding-top: .625rem;
}

ff-asn-group-slider {
    margin-bottom: 6px;
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f9f9fa;
    height: auto;
}

ff-slider {
    width: 90%;
    border: 1px solid #375765;
    border-radius: 2.5rem 0 3.5rem 2.5rem;
    border-top-right-radius: 2.5em;
    height: 15px;
}

.sliderBtn {
    border-radius: 50px;
    background: repeat-x 50% 50% #f6f6f6;
    border: 1px solid #b9b9b9;
    outline: medium;
    margin-left: -.25em;
    height: 18px!important;
    position: absolute;
    width: 1em;
    z-index: 3;
    text-decoration: none;
    top: -3px;
    cursor: pointer;
}

ff-slider .ffw-sliderBar {
    background-color: #004587;
}

ff-asn-group-slider ff-slider-control input {
    border: 0;
    background-color: #f9f9fa;
    text-align: center;
    width: 90%;
    line-height: 21px;
}

ff-asn-group-slider [data-container="groupCaption"] {
    cursor: pointer;
}

ff-asn-group-element {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    padding: 10px 5px;
    color: #5c5c5c;
}

div[slot="selected"] span.filterName:hover {
    text-decoration: underline;
}

div[slot="unselected"] span.filterName:hover {
    text-decoration: underline;
}

.filterCheckboxUnselected {
    background-image: url("../../resources/images/sprite-sf85bcdc069.png");
    background-repeat: no-repeat;
    background-position: 0 -68px;
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.filterCheckboxSelected {
    background-image: url("../../resources/images/sprite-sf85bcdc069.png");
    background-repeat: no-repeat;
    background-position: -13px -41px;
    height: 12px;
    width: 12px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

[data-container^="show"] span.text {
    display: inline-block;
    color: #5c5c5c;
    padding: 8px 0 8px 15px;
}

[data-container="showMore"] {
    transition: 400ms;
}

[data-container="hiddenLinks"] {
    transition: 400ms;
}

[data-container="removeFilter"] {
    font-size: 80%;
    color: #5c5c5c;
    padding: 7px 0 0 15px;
    cursor: pointer;
}

.groupCaption {
    padding: 1rem 2.5rem 1rem 1rem;
    color: #666;
    position: relative;
    background-color: #f9f9fa;
    min-height: 25px !important;
    height: auto;
    font-weight: 500;
    line-height: 25px;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
}

[filter-style=TREE] .groupCaption {
    background: #004587;
    color: white;
}

.filterArrowRight {
    background-position: 0 -22px;
    height: 7px;
    width: 4px;
    display: inline-block;
    bottom: 1px;
    position: relative;
    background-image: url("../../resources/images/sprite-sf85bcdc069.png");
    background-repeat: no-repeat;
}

.filterArrowDown {
    background-position: -17px -22px;
    height: 9px;
    width: 15px;
    background-image: url("../../resources/images/sprite-sf85bcdc069.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 8px;
    display: block;
}

.clusterLevel1 {
    margin-left: 10px;
}

.clusterLevel2 {
    margin-left: 20px;
}

.cursor {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    display: flex;
    flex-direction: row;
}

.bctContainer {
    margin: 10px 0 10px 10px;
}

ff-breadcrumb-trail {
    margin-left: 10px;
}

ff-breadcrumb-trail {
    font-weight: bold;
    color: #004587;
}

input[type=checkbox] + .filterName::before {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all .3s ease;
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3125rem;
}